@model Identity1.Models.BookedBy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookedBy</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MembershipNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MembershipNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GymClass.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GymClass.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
